#header {
    position: left;
    width: 200px;
}
#header .pro-sidebar {
    height: 100vh;
}
#header .pro-sidebar-inner {
    width: 225px;
}
#header .pro-sidebar-inner .pro-sidebar-layout .title {
    font-size: 16px;
    padding: 0 25px;
    color: #fff;
}
#header .pro-sidebar-layout {
    width: 220px;
}

#header .pro-sidebar-inner .pro-sidebar-layout ul {
    padding: 0 2px;
}

@media only screen and (max-width: 597px) {
    #header .pro-sidebar{
        height: 60vh;
        width: 100% !important;
    }
    #header .pro-sidebar-inner {
        width: 90vw
    }
    #header .pro-sidebar-layout {
        width: 90vw;
    }
  }